.env
Pipfile.lock
__pycache__/

geodatas/input/*
!geodatas/input/.gitkeep
geodatas/output/*

0_geodatas/input/*
!0_geodatas/input/.gitkeep
0_geodatas/output/*
!0_geodatas/output/.gitkeep

!prod/.gitkeep
!wip/.gitkeep

logs/*
!logs/.gitkeep